    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Project Summary</h2>
              <br/>
              <p>Many cities - such as Hanoi in Vietnam - are expanding rapidly,
                but formal infrastructure is failing to keep pace with the burgeoning population.
                This is further complicated by the emergence of informal transport infrastructures
                that develop in areas of unplanned urban sprawl. </p>
                <p>This project proposes an innovative process that interlinks new data collection,
                  modelling and policy development. By working with policy makers at the highest
                  levels of government (including the Head of the Department for Transport), this
                  project aims to address questions regarding how, where, and when planned policies
                  should be implemented (if at all), what the impacts on local communities would
                  be, whether public transport can cope, and whether there are better alternatives</p>
                  <p>Successful policies will dramatically improve the wellbeing for all citizens
                    in Hanoi by reducing pollution and providing more equitable access to opportunities.</p>
                <br/>
              </div>
        </div>
    </section>
